<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Wikipedia-logo.png" width="90%">
    <br>
    <hr>
    <br>
    <ul>
      <li><a routerLink='profile'>Profile</a></li>
      <li><a routerLink='text'>Text</a></li>
      <li><a href="">Main page</a></li>
      <li><a href="">Contents</a></li>
      <li><a href="">Current events</a></li>
      <li><a href="">Random article</a></li>
      <li><a href="">About Wikipedia</a></li>
      <li><a href="">Contact us</a></li>
      <li><a href="">Donate</a></li>
      <hr>
      <br>
      <li><a href="">Help</a></li>
      <li><a href="">Learn to edit</a></li>
      <li><a href="">Community portal</a></li>
      <li><a href="">Recent changes</a></li>
      <li><a href="">Upload files</a></li>
      <hr>
      <br>
      <li><a href="">What links here</a></li>
      <li><a href="">Related changes</a></li>
      <li><a href="">Special pages</a></li>
      <li><a href="">Permanent links</a></li>
      <li><a href="">Page information</a></li>
      <hr>
      <p>{{ curDate | date: 'dd-MM-yy HH:mm' | uppercase }}</p>
    </ul>
  </div>
