<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Wikipedia-logo.png" width="90%">
    <br>
    <hr>
    <br>
    <ul>
      <li><a href="#home">Main page</a></li>
      <li><a href="#news">Contents</a></li>
      <li><a href="#contact">Current events</a></li>
      <li><a href="#about">Random article</a></li>
      <li><a href="#about">About Wikipedia</a></li>
      <li><a href="#about">Contact us</a></li>
      <li><a href="#about">Donate</a></li>
      <hr>
      <br>
      <li><a href="#home">Help</a></li>
      <li><a href="#news">Learn to edit</a></li>
      <li><a href="#contact">Community portal</a></li>
      <li><a href="#about">Recent changes</a></li>
      <li><a href="#about">Upload files</a></li>
      <hr>
      <br>
      <li><a href="#home">What links here</a></li>
      <li><a href="#news">Related changes</a></li>
      <li><a href="#contact">Special pages</a></li>
      <li><a href="#about">Permanent links</a></li>
      <li><a href="#about">Page information</a></li>
    </ul>
  </div>
