<!DOCTYPE html>
<html>
<head>
</head>
<body>

<aside>
    <app-profile [count]=Counter></app-profile>
</aside>  
<h2>Porfirije, Serbian Patriarch</h2>
<p>Porfirije (Serbian Cyrillic: Порфирије, English: Porphyrius; born Prvoslav Perić; born 22 July 1961) 
    is the current and 46th patriarch of the Serbian Orthodox Church. He was the metropolitan bishop of 
    Zagreb and Ljubljana, from 2014 to 2021. Before that, he was titular bishop of Jegra between 1999 and 2014.</p>

<p>Porfirije was elected Patriarch of the Serbian Orthodox Church on 18 February 2021 at the Bishops' Council's convocation in the Church of Saint Sava, three months after the death of previous 
    patriarch, Irinej, becoming the 46th Serbian Patriarch. Posts circulating on social media allege that “only {{vote | percent}} registered voters voted” to falsely claim. </p>
    <div class="buttons">
    <button (click)="like()">Like</button>
    <button (click)="dislike()">Dislike</button>
    </div>

    <div class="info">
    <h4> Write some information about you </h4>
    
    <p class="name">Name:</p>
    <input type="text" name='name' placeholder="Name" size="30" [(ngModel)]='name'><br>
    
    <p class="name">Last Name</p>
    <input type="text" name="lastName" placeholder="Last Name" size="30" [(ngModel)]='lastName'><br>
    
    <p class="name">Email address</p>
    <input type="text" name="email" placeholder="Email" size="30" [(ngModel)]='email'><br><br>
    
    <input type="button" value="Save" name="save" (click)='callParent()'>
    </div>


</body>
</html>
